<template>
  <div>
    <Board :level="level" @finish="finish"/>
    <Win v-if="done"/>    
  </div>
 
</template>

<script>

import Board from "@/components/Board.vue";
import Win from "@/components/Win.vue";

import { defineComponent } from "vue";

export default defineComponent ({ 
  props: ["level"],
  components: {
    Board,
    Win,
    
},  
  data() {
    return{
      chose: false,
      done: false,
    }
  },
  methods: {
    finish() {
      this.done = true;
    },  
  }
});

</script>



<style>
</style>
