<template>
  <div class="absolute">
    <div class="flex justify-center font-bolder text-xl text-center">
      <div class="bg-[#37a1cb] p-6 shadow-lg border-8 border-black m-0">
        <h1 class="pb-6 font-bold text-3xl align-middle justify-center flex">
          SELECT DIFFICULTY LEVEL
        </h1>
        <button
          v-for="(difficulty, index) in difficulties"
          :key="index"
          @click="diffChoice(difficulty)"
          class="
            border-4 border-black
            w-24
            py-2
            mx-4
            mb-6
            text-center
            shadow-lg
            bg-[#d83682]
            opacity-80
            focus:opacity-100 focus:font-bold
            active:opacity-100
          "
        >
          {{ difficulty }}
        </button>
        <div class="flex justify-center mt-2" v-show="totalCards != null">
          total of {{ totalCards }} cards
        </div>
        <div class="grid grid-col-1 justify-center mt-3">
          <button
            @click="go()"
            class="
              w-24
              py-2
              border-4 border-black
              bg-[#3b8313]
              opacity-80
              hover:opacity-100 hover:font-bold
              mx-4
            "
          >
            go
          </button>
          <div class="text-center mt-2 -mb-2">{{ message }}</div>
        </div>
      </div>
    </div>
    <div class="relative justify-center font-bolder text-xl text-center">
      <a href="https://www.elenavolpato.me/">by elenavolpato.me</a>
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  data() {
    return {
      difficulties: ["easy", "normal", "hard"],
      chosen: null,
      message: "",
      totalCards: null,
    };
  },

  methods: {
    diffChoice(e) {
      this.chosen = e;
      if (this.chosen === "easy") {
        this.totalCards = 12;
      } else if (this.chosen === "normal") {
        this.totalCards = 20;
      } else if (this.chosen === "hard") {
        this.totalCards = 40;
      }

      this.message = "";
      console.log(this.chosen);
    },
    go() {
      if (this.chosen != null) {
        this.$router.push({
          name: "Game",
          params: { level: this.chosen },
        });
      } else {
        this.message = "select a level";
        return;
      }
    },
  },
});
</script>

<style>
</style>