<template>
  <div class="flex items-center justify-center xl:px-36 py-4">
    <div :class="grid">
      <div
               
        class="drop-shadow-lg flex justify-evenly max-w-[125px]"
        v-for="(card, index) in cards"
        :key="index"
      >
        <div v-show="card.state === 0" @click="cardTurn(index)" class="">
          <!-- <img src="/src/assets/images/cardBack.svg" alt="card back" /> -->
          <svg width="125" height="125" xmlns="http://www.w3.org/2000/svg">
            <rect
              stroke="black"
              stroke-width="8"
              width="125"
              height="125"
              style="fill: #8f8f8f"
            />
          </svg>
        </div>
        <div v-show="card.state !== 0" @click="cardTurn(index)">
          <img
            @load="loadImage()"
            :src="images[card.img]"
            :alt="card.img"
            :style="{ backgroundColor: card.color }"
            class="border-4 border-black"
          />
        </div>
      </div>
    </div>
    <div class="absolute bottom-0 justify- font-bolder text-xl text-center">
      <a href="https://www.elenavolpato.me/">by elenavolpato.me</a>
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";

/* import image1 from "/src/assets/images/noun-bear.svg";
import image2 from "/src/assets/images/noun-elephant.svg";
import image3 from "/src/assets/images/noun-cat.svg";
import image4 from "/src/assets/images/noun-chameleon.svg";
import image5 from "/src/assets/images/noun-chipmunk.svg";
import image6 from "/src/assets/images/noun-deer.svg";
import image7 from "/src/assets/images/noun-dog.svg";
import image8 from "/src/assets/images/noun-dolphin.svg";
import image9 from "/src/assets/images/noun-fox.svg";
import image10 from "/src/assets/images/noun-goose.svg";
import image11 from "/src/assets/images/noun-gorilla.svg";
import image12 from "/src/assets/images/noun-hamster.svg";
import image13 from "/src/assets/images/noun-hippopotamus.svg";
import image14 from "/src/assets/images/noun-hummingbird.svg";
import image15 from "/src/assets/images/noun-kangaroo.svg";
import image16 from "/src/assets/images/noun-penguin.svg";
import image17 from "/src/assets/images/noun-rhino.svg";
import image18 from "/src/assets/images/noun-sea-horse.svg";
import image19 from "/src/assets/images/noun-whale.svg";
import image20 from "/src/assets/images/noun-zebra.svg"; */

const images = import.meta.globEager("/src/assets/images/*.svg");
const state = { hidden: 0, turned: 1, found: 2 };
console.log(Object.values(images).map((o) => o.default).length);

export default defineComponent({
  props: ["level"],
  data() {
    return {
      randomImgs: [],
      grid: "",
      cards: [],
      canPlay: true,
      counter: 0,
      clicked: -1,
      totalImgs: null,
      isLoaded: false,
      images: Object.values(images).map((o) => o.default),
      /* [
        image1,
        image2,
        image3,
        image4,
        image5,
        image6,
        image7,
        image8,
        image9,
        image10,
        image11,
        image12,
        image13,
        image14,
        image15,
        image16,
        image17,
        image18,
        image19,
        image20,
      ], */
      cardColors: [
        "#e67388",
        "#ff5e5e",
        "#ff815e",
        "#ffa45e",
        "#ffc75e",
        "#ffda5e",
        "#ffeb5f",
        "#ffff5e",
        "#bdd54e",
        "#76aa3e",
        "#30802f",
        "#30802f",
        "#3f5aab",
        "#5e5eff",
        "#5f4fd6",
        "#5e3fab",
        "#603082",
        "#794a94",
        "#9368a6",
        "#c3a1c9",
      ],
    };
  },
/*   mounted() {
    document.onreadystatechange = () => { 
      if (document.readyState == "complete"){ 
        this.isLoaded = true;
      }
      console.log("carregou")
      console.log(document.readyState)
    }
  }, */
  created() {
    this.randomize();
    
  },

  methods: {
    loadImage() {
			console.log('onload');
		},
    randomize() {
      // variable to store the number of cards in the game
      let numCards = 0;
      // selecting the number of images and grid size based on the level selection of the setup screen
      if (this.level === "easy") {
        this.totalImgs = 6;
        this.grid = "grid grid-cols-4 gap-4 auto-rows-autom-0 justify-between";
      } else if (this.level === "normal") {
        this.totalImgs = 10;
        this.grid = "grid grid-cols-5 gap-4 auto-rows-autom-0 justify-between";
      } else if (this.level == "hard") {
        this.totalImgs = this.images.length;
        this.grid = "grid grid-cols-8 gap-4 auto-rows-autom-0 justify-between";
      } else {
        this.$router.push("/");
      }

      // sorting the bg colors for each image
      this.cardColors.sort(() => Math.random() - 0.5);
      // creating an array of numbers - this will be used to shuffle the images later
      for (let j = 0; j < this.images.length; j++) {
        this.randomImgs.push({ imgNum: j, color: this.cardColors[j] });
      }
      // using only the number of images according to the level selected
      numCards = this.randomImgs.slice(0, this.totalImgs);
      // doubling the images
      numCards = numCards.concat(numCards);
      //shuffling the cards positions and adding state and positions atributes
      numCards = numCards.sort(() => Math.random() - 0.5);
      for (let i = 0; i < numCards.length; i++) {
        this.cards.push({
          img: numCards[i].imgNum,
          color: numCards[i].color,
          state: 0,
          position: i,
        });
      }
      this.counter = numCards.length;
    },
    cardTurn(cardNumber) {
      if (!this.canPlay) {
        return;
      }
      // Se carta virada pra baixo...
      if (this.cards[cardNumber].state === 0) {
        // Tem uma carta clicada?
        if (this.clicked !== -1) {
          // checa se carta atual (cardNumber) é igual a carta clicada (clicked)
          if (this.cards[cardNumber].img === this.cards[this.clicked].img) {
            this.cards[cardNumber].state = 2;
            this.cards[this.clicked].state = 2;
            this.clicked = -1;
            this.counter -= 2;
            if (this.counter === 0) {
              this.$emit("finish");
              console.log(this.counter);
            }
            return;
          } else {
            this.cards[cardNumber].state = 1;
            this.canPlay = false;
            setTimeout(() => {
              this.cards[this.clicked].state = 0;
              this.cards[cardNumber].state = 0;
              this.clicked = -1;
              this.canPlay = true;
            }, 1000);
          }
        } else {
          this.clicked = cardNumber;
          this.cards[cardNumber].state = 1;
          return;
        }
      }
    },
  },
});
</script>

<style>
</style>