<template>
  <div 	class="absolute z-50 inset-0 bg-black bg-opacity-60 overflow-y-auto h-full w-full text-center
          font-bolder">
    <div class="flex justify-center mt-24">
      <div class="relative top-24 mx-auto p-5 border-4 border-black w-96 shadow-lg bg-[#37a1cb]">
       <!--  <button class="absolute right-2 top-2">
          <svg height="18" width="18">
            <line x1="3" y1="3" x2="15" y2="15" style="stroke:#000; stroke-width:3" />
            <line x1="15" y1="3" x2="3" y2="15" style="stroke:#000; stroke-width:3" />
          </svg>
        </button> -->
       
        <p class="py-2 text-2xl"> 
          Done!      
        </p>
        <br />
      <button class="
          text-md
          w-auto
          px-8
          py-4
          border-4 border-black
          shadow-lg 
          bg-[#d83682]
          mx-4" 
          @click="back"> 
          Play another round? 
        </button>

      </div>  
    </div>
  </div>
  
  
</template>

<script>
import { defineComponent } from "vue"

export default  defineComponent({
  methods: {
    back() {
    this.$router.push({
        name: "Setup",
        params: {},
      });
    },
  }
});


</script>

<style>

</style>