<template>
  
  <header>
    <div class="flex z-10 items-center justify-center inset-0 h-screen bg-[#ebe91b] font-mono">
      <router-view />
    </div>
  </header>
  
</template>

<script>
import { RouterLink, RouterView } from "vue-router";
import Game from "@/views/Game.vue";
import Setup from "@/views/Setup.vue";
import Win from "@/components/Win.vue";

import { defineComponent } from "vue";

export default defineComponent ({ 
  components: {
    Setup,
    Game,
    Win,
    
},  
  data() {
    return{
      chose: false,
      done: false,
    }
  },
  methods: {
    finish() {
      this.done = true;
    },
    diffChoice() {
      this.chose = !this.chose;

    }    
  }
});

</script>



<style>
</style>
